
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<h2>Reliable Project</h2>
</head>
<body>
	<B>Welcome to Reliable CloudFoudry App!!</B>
	<br />

	<div th:if="${customer==null}">
		<h2>Please sign in!</h2>
		<td th:text="${msg}">Error Message!!</td>
	</div>
	<br />
	<div th:if="${customer} != null">
		Hello
		<td th:text="${customer.username}">Name</td>
	</div>
	<br />
	<div th:if="${customer==null}">
		<a href="login">login</a>
	</div>
	<div th:if="${customer!=null}">
		<a href="logout">logout</a>
	</div>
	<a href="register">Register</a>
	<a href="findall">show</a>
<!-- 	<a href="display">Display</a> -->
</body>
</html>
